@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    margin : 0;
    padding : 0;
    font-family : 'SOYOMapleBoldTTF',cursive;
}

span{
    margin-left : 5px;
    cursor:default;
}

ul{
    margin : 0;
    padding : 3px;
}

li{
    margin-bottom : 1px;
    list-style : none;
}

a {
    color : inherit;
    text-decoration : none;
}

.wrap {
    // background : darkgreen;
}

.logo {
   // background : #0404B4;
    // background-image:url("https://cdn.pixabay.com/photo/2016/03/10/01/28/orange-1247700_1280.jpg");
    height : 500px;
    color : black;
    height : 50px;
    font-size : 30px;
    font-weight : bold;
    padding-left : 10px;
}

.content-wrap {
    display : flex;
    border-style : double;
    // border-color: #6464CD #8282EB #A390EE #8F7CEE;
}

.side-menu {
    text-align : center;
    overflow : auto;
    font-size : 15px;
    font-weight : bold;
    overflow : auto;
    height: 85vh;
    width: 13vw;
}

.content {
    // background:#8181F7;
    left : 10px;
    width: 81vw;
    height: 85vh;
    position: relative;
    overflow:auto;
}

textarea{
    margin-left : 10px;
    border-radius : 10px;
}

input {
      background-color : transparent;
      border : none;
      font-size : 12px;
      width : 85px;
      margin-left : 10px;
      border-radius : 10px;
}

.subtitle{
   font-weight : bold;
   background : #66CC8A;
   text-align : center;
}

.subtitle2{
   font-weight : bold;
   background : #bebebe;
   color : black;
   cursor:pointer;
   margin-left : -2px;
   width : 50px;
}

.sublist{
    color : #848484;
    font-size : 10px;
}

.savesubtitle{
    display : none;
    color : #848484;
    font-size : 10px;
}


.list{
    color : white;
    font-size : 14px;
}

.sub{
    color : white;
    font-size : 9px;
}

.subtitle{
    width : 200px;
    margin : 10px;
}

.subpost{
    padding : 5px;
    color : black;
    font-size : 12px;
    display: flex;
    flex-direction: row;
}

.card-body:hover, .card-body:focus:focus{ animation-duration: 3s; animation-name: rainbowLink; animation-iteration-count: infinite; }
@keyframes rainbowLink {
   0% { color: #ff2a2a; }
   15% { color: #ff7a2a; }
   30% { color: #ffc52a }
   45% { color: #43ff2a; }
   60% { color: #2a89ff; }
   75% { color: #202082; }
   90% { color: #6b2aff; }
   100% { color: #e82aff; }

  }

.card.bg-base-100.shadow-xl{
    display:inline-flex;
    width : 180px;
    height : 200px;
    margin : 5px;
    font-size : 12px;

}
h2.card-title {
    font-size : 15px;
    z-index: 0;
}


.postadd{
    position: relative;
    left : 85%;
    color : #66CC8A;
    margin : 0;
    font-weight : bold;
    font-size : 2rem;
    width : 10px;
}

.postcontent{
    margin : 5px;
}

button.btn.btn-primary{
    font-size : 17px;
    width : 120px;
    height : 30px;
}

.pagination{
     display:flex;
     justify-content: center;
}

.pagination-container{
     margin-top : 50px;
}

.date{
    font-size : 10px;
    text-align : right;
}

.hero {
    min-height: 83vh;
}

img.mainjpg {
    object-fit: fill;
}
.card-body{
    display : flex;
}

div.form-control.mt-6 {
    display : inline-block;
    left: 10px;
}

.signup_form{
   background : white;
   width : 30%;
   text-align: center;
}

.form-control{
   width : 80%;
}

.back{
    text-align : right;
}

.posttotal{
    flex-direction : column;
}
.post_top{
    display : flex;
}
.subtitle{
    width : 20%;
}

.post_content{
    width : 40%;
    height : 500px;
    left : 20px;
    font-size : 13px;
    border: 5px double #66CC8A;
    width : 40%;
}


.input.input-bordered:focus{
  outline: none;
  box-shadow: 0 0 0 3px #e96c7c;
}

.post_top {
   display: flex;
}

.post_middle{
    display: flex;
    flex-direction: row;
}
.commend{
    display: block;
    width : 30%;
}

.commend li {
    position: relative;
    font-size:13px;
}

.commend li a {
    margin: 3px;
}

.commend li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 1px;
    background: linear-gradient(to right, #aaa 50%, transparent 50%);
    background-size: 4px 1px;
}

.post_bottom{
    display : flex;
}

.ab{
    display: flex;
}

.ab_c {
    display: flex;
    flex-direction: column;
    width : -500%;
}
