body, ul, li{
    margin:0;
    list-style:none;
    padding:0;
    @import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Diphylleia&family=Dongle:wght@300&family=Gamja+Flower&family=Nanum+Pen+Script&family=Poor+Story&display=swap');
}

a {
    color:inherit;
    text-decoration:none;
}


.wrap {
    background: darkgreen;
}

.logo {
   // background: #0404B4;
    background-image:url("https://cdn.imweb.me/upload/S202207202685e30f16e24/8b48c67f8cdf6.jpeg");
    height:500px;
    color : white;
    height:50px;
    font-size : 30px;
    font-weight : bold;
    padding-left : 10px;
}

.content-wrap {
    background: green;
    display: flex;
}

.side-menu {
    background:#CECEF6;
    width:20%;
    height:500px;
    text-align: center;
    overflow: auto;
}

.content {
    background:#8181F7;
    width:80%;
}

input, textarea{
    margin-left : 10px;
    border-radius: 10px;
    @import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Diphylleia&family=Dongle:wght@300&family=Gamja+Flower&family=Nanum+Pen+Script&family=Poor+Story&display=swap');
}

button {
    border-radius: 10px;
}


.highlight {
     background: white;
     color : black;
     font-weight : bold;
     display : flex;
     justify-content: center;
}