<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.w3.org/1999/html">
<head>
    <meta charset = "UTF-8">
    <title>Title</title>
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link href = "https://fonts.googleapis.com/css2?family=Cute+Font&family=Diphylleia&family=Dongle:wght@300&family=Gamja+Flower&family=Nanum+Pen+Script&family=Poor+Story&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "/main2.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <html data-theme="emerald"></html>
</head>
<body>
<div class = "wrap">
    <div class = "logo">
        <a class="logo_home" href = "/home">TRAVELLING WITH</a>
        <li class="login_out">
            <a class="log_name" sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}+'님 안녕하세요'"
               style="background: linear-gradient(to right, #A7A3FF,#FFA7A3, #671cc4, #5673bd); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: bold; font-size : 13px; margin-right : 10px;" > </a>
            <a class="nav-link" style="font-size : 13px;  margin-right : 10px;" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
            </div>
        </li>
    </div>
    <div class = "content-wrap">
        <div class = "side-menu">
            <!--            3. 템플릿에서 게시물 목록 출력-->
<!--            <ul>-->
<!--                <li th:each = "main : ${mainCategory}">-->
<!--                    <span class = "mainlist" th:text=" ${main.maintitle}" ></span>-->
<!--                    <ul class = "sublist">-->
<!--                        <li th:each = "sub : ${subCategory}"  >-->
<!--                            <a th:href="@{|/category/detail/${sub.id}|}" th:text = "'▶ '+${sub.subtitle}" th:if = "${sub.mainCategory.id == main.id}" ></a>-->
<!--                        </li>-->
<!--                        <form th:action="@{|/category/subadd/${main.id}|}" method="post">-->
<!--                            <input type="submit" value="+" style="text-align:rightt">-->
<!--                        </form>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
            <ul class="menu bg-base-200 w-30 rounded-box" style="height : 100%;">
                <li th:each = "main : ${mainCategory}">
                    <details open>
                        <summary><span class = "mainlist" th:text=" ${main.maintitle}" ></span></summary>
                        <ul class = "sublist">
                            <li th:each = "sub : ${subCategory}">
                                <a th:href="@{|/category/detail/${sub.id}|}" th:text = "${sub.subtitle}" th:if = "${sub.mainCategory.id == main.id}" ></a>
                            </li>
                            <form th:action="@{|/category/subadd/${main.id}|}" th:if="${authority == 'host'}"  method="post">
                                <input type="submit" value="+" style="text-align:rightt">
                            </form>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
        <th:block layout:fragment="content-layout"> </th:block>
    </div>
<div>
    <footer class="footer footer-center p-6 bg-base-300 text-base-content">
        <aside>
            <p>Copyright © 2023 - All right reserved by MINA Industries Ltd</p>
        </aside>
    </footer>
</div>


<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        var isSublistExpanded = localStorage.getItem('isSublistExpanded') === 'true';-->
<!--        var slide = isSublistExpanded;-->

<!--        if (isSublistExpanded) {-->
<!--            $('.sublist').show();-->
<!--        } else {-->
<!--            $('.sublist').hide();-->
<!--        }-->

<!--        $('.mainlist').click(function() {-->
<!--            var sublist = $(this).next('.sublist');-->
<!--            if (slide) {-->
<!--                sublist.slideUp();-->
<!--            } else {-->
<!--                sublist.slideDown();-->
<!--            }-->
<!--            slide = !slide;-->
<!--            localStorage.setItem('isSublistExpanded', slide);-->
<!--        });-->
<!--    });-->


<!--</script>-->

</body>
</html>