<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.w3.org/1999/html">
<head>
    <meta charset = "UTF-8">
    <title>Title</title>
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
    <link href = "https://fonts.googleapis.com/css2?family=Cute+Font&family=Diphylleia&family=Dongle:wght@300&family=Gamja+Flower&family=Nanum+Pen+Script&family=Poor+Story&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "/main2.css">
</head>
<body>
<div class = "wrap">
    <div class = "logo">
    <a href = "/">logo</a>
    </div>
    <div class = "content-wrap">
        <div class = "side-menu">
            <!--            3. 템플릿에서 게시물 목록 출력-->
            <ul>
                <li th:each = "main : ${mainCategory}">
                    <span class = "mainlist" th:text="'✨'+ ${main.maintitle}"></span>
                    <ul class = "sublist">
                        <li th:each = "sub : ${subCategory}" >
                            <a class="minisubtitle" th:href="@{|/category/detail/${sub.id}|}" th:text = "${sub.subtitle}" th:if = "${sub.mainCategory.id == main.id}"></a>
                        </li>
                        <form th:action="@{|/category/subadd/${main.id}|}" method="post">
                            <input type="submit" value="+" style="text-align:rightt">
                        </form>
                    </ul>
                </li>
            </ul>
            <div class="titleadd">
                <form action = "" method = "post">
                    <input type = "submit" value="+">
                </form>
            </div>
        </div>
        <div class = "content">
            <div class="content-title">
                <li th:each = "main : ${mainCategory}">
                    <span class = "list" th:text="${main.maintitle}"></span>
                    <ul class = "sub">
                        <li th:each = "sub : ${subCategory}" th:if = "${sub.mainCategory.id == main.id}">
                            <span th:text = "'⭐' + ${sub.subtitle}"></span>
                            <ul class="subpost">
                                <li th:each = "post : ${targetPost}" th:if = "${post.subCategory.id == sub.id}">
                                    <span th:text="${post.title}"></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
         $('.mainlist').click(function() {
        var sublist = $(this).next('.sublist');

        // 현재 클릭한 .mainlist와 연결된 .sublist를 토글
        sublist.toggle();

        // 다른 .mainlist와 연결된 .sublist는 숨기기
        $('.mainlist').not(this).next('.sublist').hide();
    });
    });

</script>

</body>
</html>