<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">
<div layout:fragment="content-layout" class="content">
    <div>
        <form class="updatesub" th:action="@{/category/update}" method="post" >
            <input type="hidden" name="subid" th:value="${subContent.id}">
            <input class="subtitle" name="subtitle" th:value="${subContent.subtitle}">
            <input class="subtitle2" type="button" value="수정" onclick="doUpdatesub(this.form)">
        </form>
        <form class="postadd" th:action="@{/category/postadd}" method="post">
            <input type="hidden" name="subid" th:value="${subContent.id}">
            <input type="submit" value="+">
        </form>
    </div>
    <div class="container">
        <div class="card-container">
            <!-- 카드들을 이 곳에 추가 -->
            <div class="card bg-base-100 shadow-xl" th:each="target, iterStat : ${paging.content}">
                <div class="card-body">
                    <h2 class="card-title" th:text="${target.title}"></h2>
                    <p class="postcontent" th:text="${target.content.length() < 1 ? '내용없음' : (target.content.length() > 10 ? (target.content.substring(0, 9) + '...') : target.content)}"></p>

                    <!--                    <p class="postcontent" th:text="${target.content} == '' ? '내용없음' : ${target.content}"></p>-->
                    <div class="card-actions justify-end">
                        <a th:href="@{|/category/post/${target.id}|}">
                        <button class="btn btn-primary">Detail</button>
                        </a>
                    </div>
                    <div class="date">
                        <td th:text="${#temporals.format(target.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                    </div>
<!--                    <form class="postadd" th:if="${iterStat.last}" th:action="@{/category/postadd}" method="post">-->
<!--                        <input type="hidden" name="subid" th:value="${subContent.id}">-->
<!--                        <input type="submit" value="+">-->
<!--                    </form>-->
                </div>
            </div>
        </div>
        <div class="pagination-container">
            <div th:if="${!paging.isEmpty()}">
                <ul class="pagination">
                    <li th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a th:href="@{|?page=${paging.number-1}|}">
                            <button class="join-item btn">«</button>
                        </a>
                    </li>
                    <button>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"  class="join-item btn"
                        th:classappend="${page == paging.number} ? 'btn-active'">
                       <a th:text="${page}" th:href="@{|?page=${page}|}"></a>
                    </button>

                    </li>
                    <li th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a th:href="@{|?page=${paging.number+1}|}">
                            <button class="join-item btn">»</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--            <ul class="postclass" th:each="target, iterStat : ${post}">-->
    <!--                <li class="post">-->
    <!--                    <p class="posttitle" th:text="${target.title}"> </p>-->
    <!--                    <p class="postcontent" th:text="${target.content} == '' ? '내용없음' : ${target.content}"> </p>-->
    <!--                    <form th:if="${iterStat.last}" th:action="@{/category/postadd}" method="post">-->
    <!--                        <input type="hidden" name="subid" th:value="${subContent.id}">-->
    <!--                        <input class="postadd"  type="submit" value="+">-->
    <!--                    </form>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <script>
        function doUpdatesub(form) {
           if (confirm("정말 수정하시겠습니까?") == true) {
              form.submit();
             }
        }
    </script>
</div>
</html>
